.header {
	display: flex;
	justify-content: space-between;
  padding: 32px 144px 0 150px;
}
.left {
 display: flex;
 & span {
   margin-left: 8px;
 }
}
.right {
  
}
.logo {
	&__title {
		color: var(--white);
		font-family: "Roboto";
		font-weight: 800;
		font-size: 26px;
		line-height: 30px;
	}
}
.link a {
	color: var(--white);
}
