.btn {
    padding: 11px 0px;
    border: none;
    border-radius: 8px;
}
.primary{
    background: var(--blue)
}
.white{
    background: var(--white);
}
.transparent{
    background: transparent;
}
.colorWhite{
    color: var(--white)
}
.colorBlue{
    color: var(--blue)
}