.resetPassword {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 480px;
	margin: 0 auto;
	height: 100vh;
}
.title {
	margin-bottom: 16px;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
}
.description {
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
.form {
	display: flex;
	flex-direction: column;
}
.input {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 24px;
	padding: 16px 0 16px 14px;
	height: 56px;
	border: 1px solid rgba(145, 158, 171, 0.3);
	border-radius: 8px;
	&::placeholder {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: var(--gray);
	}
}
.btn {
	font-weight: 700;
	font-size: 15px;
	line-height: 26px;
	&__back {
		margin-top: 8px;
		font-weight: 700;
		font-size: 15px;
		line-height: 26px;
	}
}
